<!-- saved from url=(0119)https://blackboard.stockton.edu/bbcswebdav/pid-940105-dt-content-rid-3262188_1/courses/21007.201620/Homework/index.html -->


    <p>Getting started...</p>
    <p>Trip Name: @ViewBag.Trip.Name</p>
    <p>Date Created: @ViewBag.Trip.DateMade</p>
    <form>
        <div>
            <label>Date</label>
            <input>
        </div>
        <div>
            <label>Location</label>
            <input>
        </div>
        <div><input type="submit" value="Add"></div>
    </form>
Heya. You've been busy, huh?
